body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-image: linear-gradient(30deg, #05132e, #3ca4d7);
    background-size: 180% 180%;
    animation: gradient-animation 16s ease infinite;
    z-index: -3;
}

#tooltip {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.3;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#decor {
    position: fixed;
    height: 31em;
    bottom: -257px;
    right: -108px;
    opacity: 5%;
    z-index: -2;
}

#decor2 {
    opacity: 0.1;
    position: absolute;
    height: 10vh;
    z-index: -2;
}

#decor2 {
    display: flex;
    top: 17vh;
    left: -3vw;
}

header {
    display: flex;
    position: absolute;
    top: 0.5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,
p {
    color: white;
}

h1 {
    margin: 0;
    font-size: 1.5em;
    font-weight: 700;
}

h2 {
    margin: 0;
    font-size: 1em;
    font-weight: 500;
    color: #61D095;
}

#form {
    width: 100%;
    height: 75%;
    border: 0;
    margin: 0;
    border-radius: 10px;
    transition: height 1s;
}

footer {
    margin: 1em;
    position: fixed;
    bottom: 0;
    margin: 6px;
}

#logo {
    height: 3em;
}

@media (max-width: 700px) {

    main {
        justify-content: center;
    }

    header {
        align-items: center;
    }

    #decor2 {
        display: none;
    }

    h2 {
        font-size: 0.9em;
    }

    h1 {
        font-size: 1.5em;
    }

    #logo {
        height: 2em;
    }
}